*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(235, 100, 64);
}

.card{
    width: 40%;
    height: 20vh;
    margin: 15vh auto 10vh auto;
    background-color: rgb(73, 113, 116);
    padding: 20px;
    border: 10px solid rgb(214, 228, 229);
    color: rgb(239, 245, 245);
    text-align: center;
    display: flex;
    flex-direction: column;
}